#botaoEntrar {
    padding: 10px 100px 10px 100px;
    background-color: #D97014;
    color: white;
    border: none;
    border-radius: 20px;
}

#botaoSair {
    padding: 10px 100px 10px 100px;
    background-color: #D97014;
    color: white;
    border: none;
    border-radius: 20px;
}

#botaoLogin {
    width: 48%;
    background-color: #D97014;
    color: white;
    border: none;
    border-radius: 20px;
}

#botaoCancelar {
    width: 48%;
    background-color: white;
    color: #D97014;
    border: 2px solid #D97014;
    border-radius: 20px;
}

#botaoCancelar, #botaoLogin {
    margin-top: 20px;
}

.botoesLogin {
    justify-content: space-between;
}

#modalLogin::backdrop {
    background-color: rgb(0 0 0/ .6);
}

#modalLogin {
    margin-top: 2%;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0/ .3);
    width: 30%;
}

.empresa_usuario {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border: 5px solid #D97014;
}

.hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.contagemLD {
    color: #D97014;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 54px;
}

footer {
    background-color: #D97014;
    color: white;
}


